
.Game {
  display: flex;
  flex: 1 1 auto;
  flex-direction: row;

  .content {
    flex: 1 1 auto;
    overflow: auto;
    padding: 8px;
    padding-top: 64px;

  }

  .sidebar {
    flex: 0 0 340px;
  }
}
