
$width: 300px / 2;
$height: 200px / 2;

.gun {
  display: inline-block;
  width: $width;
  height: $height;

  vertical-align: middle;

  background-image: url('assets/gun.png');
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: $width $height;
  border: none;
  border-radius: 8px;

  margin: 0 4px 4px 0;

  box-shadow: 0px 0px 4px rgba(0, 0, 0, .5);
}
