.player {
  display: inline-block;
  margin: 0 8px 8px 0;
  background: #fff;
  width: 430px;
  height: 230px;
  border: 1px solid rgba(0, 0, 0, 0.12);
  border-radius: 8px;
  padding: 8px;
  vertical-align: middle;

  h2 {
    margin-bottom: 8px;
  }

  &.current h2 {
    color: rgb(223, 0, 0);
  }

  &.dead{
    opacity: .5;

    h2 {
      text-decoration: line-through;
    }
  }
}
